nav {
	width: 100%;	
	z-index: 100;
	text-transform: uppercase;
	position: relative;
	top: 0;
	font-size: 15px;
	font-family: Raleway, Sans-serif;
	z-index: 300;
}

/*@media all and (min-width: 1000px) {
	nav a:first-child {
		margin-left: 12px;
	}
}*/

nav a {
	color: #000;
	display: inline-block;
	text-decoration: none;
	padding: 15px 12px;
}

nav a.active, nav a:hover {
	color: #00aac4;
}
